*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-yo{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.img-yo img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 2px white;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.4);
}

.text-inicio{
    text-align: center;
    margin-top: 50px;
}

.text-inicio h3{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}

.text-inicio p{
    color: white;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    margin-top: 15px;
}

/* ul html, css etc */

.navbar3 ul{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
    
}

.navbar3 li{
    list-style: none;
}

.navbar3 a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}


/* Fondo de partículas */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* siempre detrás del contenido */
  background: linear-gradient(120deg, #0f172a, #0b3b66, #5b21b6);
  background-size: 600% 600%;
  animation: gradientShift 16s ease infinite;
}

/* Animación del gradiente */
@keyframes gradientShift {
  0% { background-position: 0% 50% }
  25% { background-position: 50% 50% }
  50% { background-position: 100% 50% }
  75% { background-position: 50% 50% }
  100% { background-position: 0% 50% }
}
